<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Internship Search</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet"> <!-- Custom CSS -->
</head>
<body>
    <div class="container mt-5">
        <h1>Search for Internships</h1>
        <form action="/search" method="post" class="mt-4">
            <div class="form-group">
                <label for="type">Internship Type (optional):</label>
                <input type="text" id="type" name="type" class="form-control" placeholder="Enter internship type">
            </div>
            <div class="form-group">
                <label for="company">Company Name (optional):</label>
                <input type="text" id="company" name="company" class="form-control" placeholder="Enter company name">
            </div>
            <div class="form-group">
                <label for="location">Location:</label>
                <input type="text" id="location" name="location" class="form-control" placeholder="Enter Location">
            </div>
            <button type="submit" class="btn btn-primary btn-block">Search</button>
        </form>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
